@charset "UTF-8";

/*特卖开始*/
.wrapper1{width: 1200px;margin:0 auto;height:310px; margin-top:20px;}
.wrapper1 .banner{width:1200px;height:310px;background-image:url(../images/banner_0.jpg);}
.banNav ul{width: 1200px;height: 110px;border: 1px solid #d4d4d4;font-size:0;}
.banNav ul li{display:inline-block;width:129px;height: 108px;border: 1px solid #d4d4d4;font-size:0;}
.banNav ul  span{width:19px;height:108px;display:inline-block;vertical-align:top;text-align: center;border: 1px solid #d4d4d4;color:#898989;font-size:12px;}
.banNav ul .icon{background-image: url(../images/cat_1.png);}
.banNav ul .icon1{background-image: url(../images/cat_02.png);}
.banNav ul .icon,.icon1,.icon2,.icon3,.icon4,.icon5,.icon6,.icon7,.icon8,{width:128px;height:108px;}
.banNav ul .icon2{background-image: url(../images/cat_3.png);}
.banNav ul .icon3{background-image: url(../images/cat_4.png);}
.banNav ul .icon4{background-image: url(../images/cat_5.png);}
.banNav ul .icon5{background-image: url(../images/cat_6.png);}
.banNav ul .icon6{background-image: url(../images/cat_7.png);}
.banNav ul .icon7{background-image: url(../images/cat_8.png);}
.banNav ul .icon8{background-image: url(../images/cat_9.png);}
.banNav ul .icon:hover{background-position:0 -108px;}
.banNav ul .icon1:hover{background-position:0 -108px;}
.banNav ul .icon2:hover{background-position:0 -108px;}
.banNav ul .icon3:hover{background-position:0 -108px;}
.banNav ul .icon4:hover{background-position:0 -108px;}
.banNav ul .icon5:hover{background-position:0 -108px;}
.banNav ul .icon6:hover{background-position:0 -108px;}
.banNav ul .icon7:hover{background-position:0 -108px;}
.banNav ul .icon8:hover{background-position:0 -108px;}
.banNav{position:relative;margin:0 auto;width:1200px;margin-top: 20px;}
.banNav .move{position: absolute;width:131px;height:109px;;background-color:#ededed;left:0;top:0;z-index:-1;display:none;}
.mainBox0{width: 1200px;height: 1077px;margin:0 auto;}
.mainBox0 .caption{width: 100%; border-bottom: 1px solid #222; padding: 16px 0;height: 22px;margin-top: 25px;margin-bottom: 16px;font-size: 22px;font-family: 'Microsoft Yahei',Arial;overflow: hidden;}
.mainBox0 ul li{float: left;margin: 0 16px 16px 0;height:300px;background-color:#fff;}
.mainBox0 ul li .Boximg,.Boximg1,.Boximg2,.Boximg3,.Boximg4,.Boximg5{width: 387px;height:230px;}
.mainBox0 ul li .Boximg{background-image:url(../images/img1.jpg);}
.mainBox0 ul li .Boximg1{background-image:url(../images/img2.jpg);}
.mainBox0 ul li .Boximg2{background-image:url(../images/img3.jpg);overflow: hidden;position: relative;left:0;top:0;}  
.mainBox0 ul li .Boximg3{background-image:url(../images/img4.jpg);}
.mainBox0 ul li .Boximg4{background-image:url(../images/img5.jpg);}
.mainBox0 ul li .Boximg5{background-image:url(../images/img6.jpg);}
.mainBox0 ul li a{display: block;font-size:12px;color:#343434;line-height:30px;margin-top:6px;width:224px;white-space:nowrap;margin-left:10px;float: left;}
.mainBox0 ul li .timer{font-size:12px;color:#808080;line-height:14px;margin-top:3px;padding-left:24px;cursor:default;background:url(../images/i_con.png) -20px -117px no-repeat;width:224px;margin-left:10px;float:left;display:inline-block;}
.mainBox0 ul li .timer span{color:#e5004f;font-weight:bold;background-color: #fff;}
.mainBox0 ul li .discountInfo{height: 70px;line-height: 70px;font-size: 16px;color:#e5004f;font-family:"微软雅黑";}
.mainBox0 ul li .discountInfo .discount{font-size:28px;font-family:"Verdana";font-weight:normal;margin-right:6px;}
.mainBox0 ul li .co{float: left;width:224px;height:70px;}
.mainBox0 ul .Liimg{display: block; width: 387px;box-shadow: 0px 0px 8px #f4f4f4;margin: 0px;}
.mainBox0 >ul>li:hover{outline:2px solid #e5004f;box-shadow:4px 4px 8px #aaa;transition:box-shadow:.4s;}
.mainRecomGoodsLiBox{font-size: 14px;font-family: 'Microsot Yahei',Arial;color: #222;width: 1200px;height:391px;position:relative;}
.mainRecomGoodsLiBox ul li{width: 238px; margin-bottom: 13px;margin-right: 1px;float: left;background-color: #fff;height:376px;}
.mainRecomGoodsLiBox ul li img{width:210px;height:270px;margin:0 auto;display:block;}
.mainRecomGoodsLiBox ul li .timerBox{font-family:"宋体","Arial";font-size:12px;width:203px;padding: 0 4px;height:20px;line-height:20px;border:1px solid #808080;cursor: default;margin-left:13px;}
.mainRecomGoodsLiBox ul li .timerBox .timerCount{font-size:12px;color:#808080;line-height:14px;margin-top:3px;cursor:default;float:left;display:inline-block;width:134px;}
.mainRecomGoodsLiBox ul li .timerBox .timerCount span{color:#e5004f;font-weight:bold;background-color: #fff;font-size:12px;}
.mainRecomGoodsLiBox ul li .timerBox .soldNum{margin-left:7px;font-weight:normal;font-family:"微软雅黑";color:#808080;}
.mainRecomGoodsLiBox ul li .goodsTitle{font-family: "宋体"，Arial;color:rgb(73,73,73);font-size: 12px;height:40px;line-height: 20px;vertical-align:middle;overflow:hidden;padding-top:14px;margin-left:12px;}  
.goodsPriceBox .salesPrice{color:#e5004f;font-size:22px;font-family:Verdana;font-weight:normal;margin-left:10px;}
.goodsPriceBox .marketPrice{font-size:12px;font-family:Verdana;float:right;height:27px;line-height:27px;vertical-align:bottom;text-decoration:line-through;color:#808080;margin-right:10px;} 
.mainRecomGoodsLiBox .toLeft{position: absolute;top: 50%;margin-top: -30px;width: 20px;height: 60px; background-image: url(../images/leftright.png);z-index: 99;background-position: 0 0;cursor: pointer}
.mainRecomGoodsLiBox{position:relative;overflow:hidden;}
.mainRecomGoodsLiBox .toRight{position: absolute;top:50%;margin-top: -30px;width: 20px;height:60px; background-image: url(../images/leftright.png);z-index: 99;background-position: -20px 0;cursor: pointer;right:0;}
.mainRecomGoodsLiBox .play ul{float:left;}
.mainRecomGoodsLiBox .play{position:absolute;width:7200px;left:2px;}
/*特卖主推结束*/

.wrap{width:100%;margin:0 auto;width:1200px;margin-top:10px; }
.wrap .mainBox1{width: 947px;float: left;}
.wrap .mainBox1 .newRecom{width: 947px;}
.wrap .mainBox1 .newRecom .caption{width: 100%;border-bottom: 1px solid #222;padding: 16px 0;height: 22px; margin-top: 25px;margin-bottom: 16px; font-size: 22px;font-family: 'Microsoft Yahei',Arial;overflow: hidden;}
.wrap .mainBox1 .newRecom .caption a{float: right; font-size: 14px;color: #222;line-height: 30px;}
.wrap .mainBox1 .newRecom .caption h2{float: left;height: 22px;line-height: 22px;font-size: 22px;cursor: default;}
.newRecom h2 .updateTime {width: 80px;height: 22px;background: url(../images/i_con.png) -12px -161px no-repeat;text-indent: -999em;white-space: nowrap;overflow: hidden;vertical-align:top;margin-left:10px;}
.newRecom h2 .newArrival{font-weight: normal;font-size: 18px;display:inline-block;text-align:center;margin-left:5px;}
.newRecom h2 .updateTime, .newRecom h2 .newArrival {font-weight: normal;font-size: 18px;display: inline-block;text-align: center;}
.newRecom .newRecomBox{width:947px;height:7424px;}
.newRecom .newRecomBox .newRecomList{color: #e5004f;font-size: 14px;}
.newRecom .newRecomBox .newRecomList li{background-color: #fff;margin:0;margin-bottom: 16px;height: 294px;}  
.newRecom .newRecomBox .newRecomList li .newRecomBrand{overflow: hidden;background-color:#fff;padding-right: 1px;}
.newRecom .newRecomBox .newRecomList li .newRecomEvent{width:788px;height: 294px;position: relative;} 
.newRecomList li .newRecomBrand .newRecomBrandBox{width: 120px;padding: 12px 17px;height: 245px;border-bottom: 1px solid #d8d8d8;}
.newRecomBrand .newRecomBrandBox a img{width: 120px;height: 80px;}
.newRecom .newRecomEvent img:hover {-webkit-transform: scale(1.06);-moz-transform: scale(1.08);-ms-transform: -ms-scale(1.06);-o-transform: scale(1.06);transform: scale(1.06);}
.newRecom .newRecomEvent img{transition: all .4s}
.newRecomBrand .newRecomBrandBox .newRecomBrandContent{height: 90px;text-align: center;}
.newRecomBrand .newRecomBrandBox .newRecomBrandContent .brandTitle a{color: #e5004f;font-size: 14px;font-family:'Microsoft Yahei','Arial';}
.newRecomBrandBox .discountInfo {text-align: center;cursor: default;}
.newRecomBrandBox .discountInfo .discount{font-size: 28px;font-family: 'Verdana';font-weight: normal;margin-right: 6px;}
.newRecomBrandBox .discountInfo span{font-size: 14px;font-family:'Microsoft Yahei','Arial';} 
.newRecomEvent a{width: 792px;height: 294px;display:block;overflow: hidden;}
.newRecom .newRecomList li:hover{border: 2px solid #e5004f;margin: -2px -2px 14px -2px;box-shadow: 4px 4px 8px #aaa;transition:box-shadow:.4s;}
.aside{float:right; width: 232px; margin-top:78px; position: relative;left: 0;top: 0;}
.aside .asideBox{/*position:absolute;top:0px;left:0px;*/background-color:#fff;}
.aside .asideBox .asideSlider {position: relative; border: 6px solid #222;width: 220px;height: 388px;}
.aside .asideBox .asideSlider .sliderTrigger {width: 100%;text-align: center;font-size: 0;position:absolute;left: 0;bottom: 5px;}  
.aside .asideBox .serveInfo .serveTrigger {overflow: hidden;}
.aside .asideBox .serveInfo .serveTrigger li { float: left;} 
.aside .asideBox .serveInfo .serveTrigger li .serveTab1 {background-position: 0 -70px;}
.aside .asideBox .serveInfo .serveTrigger li .serveTab2 {background-position: -58px -70px;}
.aside .asideBox .serveInfo .serveTrigger li .serveTab3 {background-position: -116px -70px;}
.aside .asideBox .serveInfo .serveTrigger li .serveTab4 { background-position: -174px -70px;}
.aside .asideBox .serveInfo .serveTrigger li:hover .serveTab1{background-position: 0 0;}
.aside .asideBox .serveInfo .serveTrigger li:hover .serveTab2{background-position: -58px 0;}
.aside .asideBox .serveInfo .serveTrigger li:hover .serveTab3 {background-position: -116px 0;}
.aside .asideBox .serveInfo .serveTrigger li:hover .serveTab4 {background-position: -174px 0;}   
.aside .asideBox .serveInfo .serveTrigger li span {width: 58px;height: 60px;display: block;text-indent: -999em;overflow: hidden; background-image: url(../images/serve.jpg);background-repeat: no-repeat;cursor: pointer;} 
.aside .asideBox .serveInfo .servePanels {font-size: 12px; font-family: 'Microsoft Yahei';line-height: 20px;padding-top: 15px;}
.aside .asideBox .serveInfo .servePanels li {width: 215px;height: 190px;padding: 8px;border: 1px solid #2d2d2d; display: none;}
.sideBox .sideNav {margin-bottom: -1px;}
.sideBox .sideNav .sideNavBox li {width: 70px;height: 70px; margin-bottom: 1px;background-color: #222;position: relative}
.sideBox .sideNav .sideNavBox li a {width: 40px;height: 40px;padding: 15px 15px;display: block;color: #dadada;font-size: 20px;line-height: 22px;}
.sideBox .sideNav .sideNavBox li .backTop {background: #fff;color: #000;width: 38px;height: 38px;line-height: 38px;padding-bottom: 16px;border: 1px solid #000;font-size:20px;font-family: 'Microsoft Yahei','Arial';}   
/*.main{width: 1200px;margin: 0 auto;position: relative;left: 0;top: 0;height: auto;}*/


/*抢购预告开始*/
.mainBox2{ width:947px;}
.mainBox2 .caption { width:947px;height:55px;border-bottom: 1px solid #222;padding: 16px 0;height: 22px;margin-top: 25px;margin-bottom: 16px;overflow: hidden;font-size: 22px; font-family: 'Microsoft Yahei',Arial;}
.mainBox2 .caption h2{float: left;height: 22px; line-height: 22px;cursor: default;font-size: 22px;}
.mainBox2 .foretellBox {position: relative;left:0;top: 0;}
.mainBox2 .foretellBox .foretellSwitch {position: absolute;left:auto;right: 0;top: -67px;}        
.mainBox2 .foretellBox .foretellSwitch li {
    float: left;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #a1a1a1;
    font-size: 16px;
    font-family: 'Microsoft Yahei',Arial,sans-serif;
    cursor: pointer;}
 .foretellBox .fortellContent .foretellList .list li {
    width: 305px;
    height: 216px;
    background-color: #fff;
    font-size: 14px;
    float: left;
    margin: 0;
    margin-right: 16px;
    margin-bottom: 16px;}

.foretellBox .fortellContent .foretellList .list li .foretellEventBox {
    display: block;
    width: 305px;
    margin: 0;
    font-family: 'Microsoft Yahei',Arial;
    cursor: default;}
 .foretellBox .fortellContent .foretellList .list li .foretellEventBox img {
    width: 305px;
    height: 180px;}
.foretellBox .fortellContent .foretellList .list li .foretellEventBox {
    display: block;
    width: 305px;
    margin: 0;
    font-family: 'Microsoft Yahei',Arial;
    cursor: default;
}                  
 .foretellBox .fortellContent .foretellList .list li .eventInfo h4 {
    float: left;
    color: #333;
    font-weight: normal;
    width: 216px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 12px;
    line-height: 30px;
 }
 .foretellBox .fortellContent .foretellList .list li .eventInfo span {
    float: right;
    color: #e5004f;
    margin-right: 7px;
    text-align: -webkit-match-parent;
        line-height: 30px; }
 .foretellBox .fortellContent .foretellList .list li .eventInfo strong {
    font-size: 16px;
    font-family: 'Verdana';
    font-weight: normal; }
    

 .foretellBox .fortellContent .foretellList .list li .eventInfo {
    width: 297px;
    height: 30px;
    line-height: 30px;
    padding-left: 8px;}   

 .foretellBox .fortellContent .foretellList {
    width: 965px;
    margin-right: -18px;}

.foretellBox .fortellContent{width:947px;height:1160px;}   
.bg{background-color:#000;}
.bg2{background-color:#e5004f;}

.foretellBox .fortellContent .foretellList .list li:hover{
    outline: 2px solid #e5004f;}